/*cuerpo*/
* {
    font-family: 'Outfit', sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: white;
}

#container {
    width: 1280px;
    margin: 0.5em auto;
    padding: 0.5em;

}

/*seccion1*/
.parte1 {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 64px;
}

.logo1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 23.46px;

}

nav {
    display: flex;
    align-items: center;
    row-gap: 10px;
    gap: 40px;
    font-size: 14px;
}

#sesion {
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.641);
    color: white;
}

#logofin {
    display: flex;
    align-items: center;
}

.logo2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

a[href="tel:+34919490518"] {
    color: white;
    text-decoration: none;
}

a[href*="pages"] {
    color: white;
    text-decoration: none;
}

a[href=""] {
    color: white;
    text-decoration: none;
}

/*seccion 2*/
.imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px 40px;
    gap: 8px;
}

#cafe {
    width: 588pxx;
    height: 390px;
    border-radius: 20px;
}

#planta {
    width: 588px;
    height: 24px;
    font-size: 18px;
    color: #2A5B45;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#titulo {
    font-size: 40px;
    font-weight: bold;
    width: 588px;
    height: 88px;
    line-height: 44px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 588px;
    height: 232px;

}

p,
.origenes,
.comprar {
    font-size: 14px;
}

.origenes,
.comprar {
    border-radius: 4px;
    border: none;
    color: white;
    filter: drop-shadow(1px 4px 1px rgba(0, 0.2, 0.2, 0.3));
}

.origenes {
    background-color: black;
    width: 168px;
    height: 40px;
}

.comprar {
    background-color: #2A5B45;
    width: 137px;
    height: 40px;
    margin-left: 16px;
}

/*novedades*/
.parte2{
    border: 1px solid;
    padding: 15px;
}

#novedades {
    color: #2A5B45;
    display: flex;
    justify-content: center;
    line-height: 28px;
    font-style: normal;
    padding: 40px;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#costa,
#colombia,
#laos,
#etiopia {
    border: 1px solid #E3DED7;
    border-radius: 8px;
    padding: 8px;
}

.costaimg,
.etiopiaimg,
.laosimg,
.colombiaimg {
    height: 219px;
    width: 219px;
    padding: 24px;
}

.bolsacafe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.añadir {
    border-radius: 4px;
    border: #2A5B45;
    color: white;
    background-color: #2A5B45;
    font-size: 14px;
    width: 60px;
    height: 32px;
}

.boton {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.h4 {
    display: flex;
    justify-content: center;

}

.nombre,
.precio {
    display: flex;
    justify-content: center;
    padding: 6px;
}

#ver {
    color: black;
}

#vertodos {
    display: flex;
    justify-content: center;
    padding: 4%;
    text-decoration:underline;
    font-weight: bold;
    gap: 15px;
}

/*FORMULARIO*/
form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    padding-left: 50%;
    background-color: gray;
}

/*FOOTER*/
footer {
    background-color: black;
    color: white;
}