.parte1{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.logo1{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: xx-large;
}
nav{
    display: flex;
    align-items: center;
    row-gap: 10px;
    gap: 40px;
}
#sesion{
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.641);
    color: white;
}
#logofin{
    display: flex;
    align-items: center;
}
.logo2{
    display: flex;
    align-items: center;
    gap: 15px;
}
a[href="tel:+34919490518"] {
    color: white;
    text-decoration: none;
}
a[href=""] {
    color: white;
    text-decoration: none;
}
#cafe {
    width: 400x;
    height: 350px;
    border-radius: 10px;
}
#planta {
    font-size: 16px;
    color: green;
}
.origenes {
    background-color: black;
    color: white;
}
.comprar {
    background-color: green;
    color: white;
}
.imagen{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 25px;
}
#article{
    padding: 30px;
}
.origenes, .comprar{
    border-radius: 5px;
    border: 0;
    padding: 15px;
}
#novedades{
    color: green;
    grid-area: novedades;
}
.main{
    display: grid;
    grid-template-areas:
    'novedades novedades novedades novedades'
    'costa colombia laos etiopia'
    'ver ver flecha flecha';
}
#ver{
    color: black;
    grid-area: ver;
}
#flecha{
    grid-area: flecha;
}
footer{
    background-color: black;
    color: white;
}